* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  align-items: end;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.2);
  width: 100%;
  height: 150px;
}

.sidebar-logo > p {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 96px;
}

.sidebar-logo > p img {
  width: 100px;
}

.sign-up-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.sign-up-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 36px;
}

.sign-up-text {
  width: 960px;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 24px;
}

.sign-up-form-wrapper {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sign-up-form-wrapper > p {
  margin: 24px 36px;
  font-size: 24px;
  font-weight: 450;
}

.sign-up-form {
  display: flex;
  column-gap: 100px;
  margin-left: 36px;
}

.sign-up-form-group {
  display: flex;
  flex-direction: column;
}

.sign-up-form-group > label {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 450;
}

.sign-up-form-group > input {
  width: 300px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 1px 100px rgb(0 0 0 / 0.1);
  margin-bottom: 10px;
}

.sign-up-form-group > input:invalid{
    border-color: red;
}

.account-wrapper {
  margin: 36px;
}

.account-wrapper > p {
    font-size: 20px;
}

.account-wrapper > input {
  font-size: 16px;
  font-weight: bold;
  background-color: #596d48;
  color: #fff;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 36px;
  cursor: pointer;
}

.account-wrapper > input:focus{
    border-color: #E5E7EB;
}


.account-wrapper > p a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}
